* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #777;
}

.container {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
}

#wrap {
  width: 100%;
  height: auto;
  font-family: "Noto Sans KR", sans-serif;
}

.go_top {
  position: fixed;
  bottom: 5%;
  right: 5%;
  text-align: center;
  border: 1px solid #999;
  color: #999;
  padding: 3px 7px;
  border-radius: 20px;
  transition: 0.2s;
}
.go_top:hover {
  padding: 5px 10px;
  border-radius: 25px;
}
.go_top:hover p {
  color: #000;
  font-size: 0.8rem;
}
.go_top P {
  font-size: 0.7rem;
}
.go_top P:first-of-type i {
  font-size: 0.1rem;
}

header {
  width: 100%;
  border-bottom: 1px solid #eee;
}
header nav {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .left_ul {
  display: flex;
}
header nav .left_ul i {
  font-size: 0.7rem;
  margin-left: 2px;
  color: #666;
}
header nav .right_ul {
  display: flex;
}
header nav .grcircle {
  color: #ccc;
}
header nav a {
  font-weight: 500;
  font-size: 0.9rem;
}
header nav a:hover {
  color: #ccc;
}

#menu {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#menu .iconbox {
  display: flex;
}
#menu .iconbox input {
  width: 260px;
  height: 40px;
  background: #eee;
  border: none;
  border-radius: 10px;
  margin-right: 30px;
  background-image: url(../img/main/search.png);
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 8px;
}
#menu .iconbox input:focus {
  outline: none;
  padding-left: 30px;
}
#menu .iconbox .icon_img {
  width: 180px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
#menu .iconbox .icon_img a {
  width: 27px;
}
#menu .iconbox .icon_img a img {
  width: 100%;
}
#menu .iconbox .icon_img a:nth-of-type(3) {
  width: 30px;
}
#menu .iconbox .icon_img a:nth-of-type(3) {
  width: 25px;
}
#menu .iconbox .icon_img a:last-of-type {
  width: 26px;
}

footer {
  width: 100%;
  height: auto;
  padding: 50px 0;
  border-top: 1px solid #eee;
  color: #777;
}
footer #footer_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer #footer_box .left_ftbox {
  width: 95px;
}
footer #footer_box .left_ftbox a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  font-size: 0.8rem;
  font-weight: 600;
}
footer #footer_box .left_ftbox a:hover {
  color: #ccc;
}
footer #footer_box .left_ftbox a span {
  margin-left: 5px;
}
footer #footer_box table {
  text-align: left;
  font-size: 0.8rem;
}
footer #footer_box table th {
  width: 200px;
}
footer #footer_box table th, footer #footer_box table td {
  height: 30px;
}
footer #footer_box table td {
  font-weight: 400;
}
footer #footer_box table td .hire::after {
  content: "N";
  background: #1e9eff;
  color: #fff;
  font-size: 0.1rem;
  padding: 1px 6px 2px 5px;
  border-radius: 20px;
  margin-left: 2px;
}
footer #footer_box table td:hover a {
  color: #ccc;
}
footer .sns_box a {
  border: 1px solid #ddd;
  padding: 15px 10px 5px;
  border-radius: 25px;
  margin-left: 10px;
}
footer .sns_box a:hover {
  background: rgb(245, 244, 244);
}
footer #footer_box2 {
  width: 50%;
  margin-top: 30px;
}
footer #footer_box2 h5 {
  font-weight: 600;
  font-size: 0.75rem;
  cursor: pointer;
  margin-bottom: 10px;
}
footer #footer_box2 h5:hover {
  color: #ccc;
}
footer #footer_box2 h5 i {
  font-size: 0.6rem;
  margin-left: 2px;
}
footer #footer_box2 p {
  font-size: 0.7rem;
  margin-right: 5px;
  font-weight: 400;
}
footer #footer_box2 .ft_hide {
  display: none;
  overflow: hidden;
}
footer #footer_box2 .ft_hide p {
  float: left;
  line-height: 20px;
}
footer #footer_box2 .line {
  color: #ddd;
}
footer #footer_box2 .ft_visible {
  display: flex;
}
footer #footer_box2 .ft_visible p {
  line-height: 20px;
}
footer #footer_box2 .ft_visible p:hover a {
  color: #aaa;
}
footer #footer_box2 .ft_visible p:nth-of-type(3) a {
  color: #333;
  font-weight: 500;
}
footer #footer_box2 > p:last-of-type {
  margin-top: 10px;
}

#section1_txt {
  width: 100%;
  height: 120px;
}
#section1_txt .category_txt {
  height: 50%;
  width: 100%;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#section1_txt .category_txt h2 {
  color: #1e9eff;
}
#section1_txt .category_txt .category {
  display: flex;
  align-items: center;
  cursor: pointer;
}
#section1_txt .category_txt .category:hover h5 {
  color: #ccc;
}
#section1_txt .category_txt .category h5 {
  margin-left: 10px;
  transition: 0.5s;
}
#section1_txt .category_txt .category .hamburger {
  width: 20px;
  height: 12px;
  position: relative;
}
#section1_txt .category_txt .category .hamburger span {
  width: 100%;
  height: 2px;
  border-radius: 10px;
  position: absolute;
  background: #333;
}
#section1_txt .category_txt .category .hamburger span:first-of-type {
  top: 0;
  left: 0;
}
#section1_txt .category_txt .category .hamburger span:nth-of-type(2) {
  top: 45%;
}
#section1_txt .category_txt .category .hamburger span:last-of-type {
  bottom: 0;
  left: 0;
}
#section1_txt .change_section {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#section1_txt .change_section h4 {
  margin-right: 15px;
  font-weight: 500;
}
#section1_txt .change_section h4:hover {
  color: #ccc;
}
#section1_txt .change_section .select {
  background: #1e9eff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 25px;
}
#section1_txt .change_section .select:hover {
  background: #1e87ff;
  color: #fff;
}

#section1 {
  width: 100%;
  height: auto;
  position: relative;
}
#section1 .slide_button > span {
  position: absolute;
  background: #fff;
  padding: 10px 17px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}
#section1 .slide_button > span:hover {
  color: #ccc;
}
#section1 .slide_button .prev {
  top: 50%;
  left: -2%;
}
#section1 .slide_button .next {
  top: 50%;
  right: -2%;
}
#section1 > p {
  position: absolute;
  bottom: 10%;
  right: 15%;
  background: rgba(56, 56, 56, 0.3);
  color: rgba(248, 246, 246, 0.5);
  font-size: 0.8rem;
  padding: 3px 7px 4px;
  border-radius: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}
#section1 > p > small {
  font-weight: 500;
}
#section1 .chNum {
  color: #eee;
}
#section1 .slide_banner {
  width: 1253px;
  height: 400px;
  display: flex;
  overflow: hidden;
}
#section1 .slide_banner .slidebox {
  flex-shrink: 0;
  margin-right: 7px;
  height: 100%;
  position: relative;
  border-radius: 7px;
  overflow: hidden;
}
#section1 .slide_banner .slidebox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#section1 .slide_banner .slidebox img {
  width: 100%;
  height: 100%;
}
#section1 .slide_banner .slidebox span {
  position: absolute;
  bottom: 38%;
  left: 5%;
  color: #fff;
  font-size: 0.5rem;
  border: 1px solid #fff;
  padding: 2px 5px;
  border-radius: 2px;
  opacity: 0;
  transition: 1s;
}
#section1 .slide_banner .slidebox .second_span {
  left: 8.5%;
}
#section1 .slide_banner .slidebox h1 {
  position: absolute;
  bottom: 17%;
  left: 5%;
  color: #fff;
  opacity: 0;
  transition: 1s;
  font-size: 1.8rem;
}
#section1 .slide_banner .slidebox p {
  position: absolute;
  bottom: 11%;
  left: 5%;
  color: #fff;
  opacity: 0;
  transition: 1s;
}
#section1 .slide_banner .slidebox:first-of-type {
  flex: 1 1 0;
}
#section1 .slide_banner .slidebox:nth-of-type(2) {
  flex: 0 1 45px;
}
#section1 .slide_banner .slidebox:nth-of-type(3) {
  flex: 0 1 45px;
}
#section1 .slide_banner .slide_1 {
  background-image: url("../img/main/banner20.webp");
  background-position: center;
}
#section1 .slide_banner .slide_1::before {
  box-shadow: inset 0px -70px 60px #6e1b75;
}
#section1 .slide_banner .slide_1 .second_span {
  left: 8.2%;
}
#section1 .slide_banner .slide_2 {
  background-image: url("../img/main/banner10.webp");
  background-position: center;
}
#section1 .slide_banner .slide_2::before {
  box-shadow: inset 0px -70px 60px #382604;
}
#section1 .slide_banner .slide_3 {
  background-image: url("../img/main/banner9.webp");
  background-position: center;
}
#section1 .slide_banner .slide_3::before {
  box-shadow: inset 0px -70px 60px #3ab34e;
}
#section1 .slide_banner .slide_3 .second_span {
  left: 8.2%;
}
#section1 .slide_banner .slide_4 {
  background-image: url("../img/main/banner7.webp");
  background-position: center;
}
#section1 .slide_banner .slide_4::before {
  box-shadow: inset 0px -70px 60px #b6204d;
}
#section1 .slide_banner .slide_4 .second_span {
  left: 8.2%;
}
#section1 .slide_banner .slide_5 {
  background-image: url("../img/main/banner12.webp");
  background-position: center;
}
#section1 .slide_banner .slide_5::before {
  box-shadow: inset 0px -70px 60px #113d66;
}
#section1 .slide_banner .slide_6 {
  background-image: url("../img/main/banner17.webp");
  background-position: center;
}
#section1 .slide_banner .slide_6::before {
  box-shadow: inset 0px -50px 100px #2f27a0;
}
#section1 .slide_banner .slide_7 {
  background-image: url("../img/main/banner15.webp");
  background-position: center;
}
#section1 .slide_banner .slide_7::before {
  box-shadow: inset 0px -100px 100px #856138;
}
#section1 .slide_banner .slide_8 {
  background-image: url("../img/main/banner5.webp");
  background-position: center;
}
#section1 .slide_banner .slide_8::before {
  box-shadow: inset 0px -75px 60px #000;
}
#section1 .slide_banner .slide_9 {
  background-image: url("../img/main/banner14.webp");
  background-position: center;
}
#section1 .slide_banner .slide_9::before {
  box-shadow: inset 0px -70px 60px #6e4486;
}
#section1 .slide_banner .slide_10 {
  background-image: url("../img/main/banner2.webp");
  background-position: center;
}
#section1 .slide_banner .slide_10::before {
  box-shadow: inset 0px -70px 60px #1e422e;
}
#section1 .slide_banner .slide_11 {
  background-image: url("../img/main/banner8.webp");
  background-position: center;
}
#section1 .slide_banner .slide_11::before {
  box-shadow: inset 0px -70px 60px #42291e;
}
#section1 .slide_banner .slide_12 {
  background-image: url("../img/main/banner13.webp");
  background-position: center;
}
#section1 .slide_banner .slide_12::before {
  box-shadow: inset 0px -70px 60px #c75716;
}
#section1 .slide_banner .slide_13 {
  background-image: url("../img/main/banner18.webp");
  background-position: center;
}
#section1 .slide_banner .slide_13::before {
  box-shadow: inset 0px -70px 60px #814310;
}
#section1 .slide_banner .slide_14 {
  background-image: url("../img/main/banner11.webp");
  background-position: center;
}
#section1 .slide_banner .slide_14::before {
  box-shadow: inset 0px -70px 60px #8a57b9;
}
#section1 .slide_banner .slide_15 {
  background-image: url("../img/main/banner19.webp");
  background-position: center;
}
#section1 .slide_banner .slide_15::before {
  box-shadow: inset 0px -150px 100px #69628f;
}
#section1 .slide_banner .slide_15 span {
  bottom: 28%;
  left: 5%;
}

#book_menu {
  height: 165px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#book_menu .bm_box {
  width: 6%;
  margin-right: 20px;
  cursor: pointer;
}
#book_menu .bm_box:hover p {
  color: #ccc;
}
#book_menu .bm_box img {
  width: 100%;
}
#book_menu .bm_box p {
  text-align: center;
  font-size: 0.8rem;
  color: #333;
  font-weight: 500;
  transition: 0.2s;
}

#section_2 {
  width: 100%;
  height: 400px;
  position: relative;
}
#section_2 h2 {
  width: 100%;
  font-size: 1.4rem;
  margin-bottom: 15px;
}
#section_2 > span {
  position: absolute;
  background: #fff;
  padding: 10px 17px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}
#section_2 > span:hover {
  color: #ccc;
}
#section_2 .td_prev {
  top: 40%;
  left: -2%;
  display: none;
}
#section_2 .td_next {
  top: 40%;
  right: -2%;
}
#section_2 .today_wrap {
  width: 100%;
  height: 310px;
  overflow: hidden;
}
#section_2 .today_wrap .today_slide {
  width: 99.8%;
  height: 100%;
  display: flex;
}
#section_2 .today_wrap .today_slide .td_box {
  width: 16%;
  height: 100%;
  margin-right: 9px;
  flex-shrink: 0;
  cursor: pointer;
}
#section_2 .today_wrap .today_slide .td_box:hover h4 {
  color: #ccc;
}
#section_2 .today_wrap .today_slide .td_box a {
  border: 1px solid #eee;
  width: 100%;
  height: 260px;
  display: inline-block;
  box-shadow: 3px 3px 2px #eee;
}
#section_2 .today_wrap .today_slide .td_box a > img {
  width: 100%;
  height: 100%;
}
#section_2 .today_wrap .today_slide .td_box h4 {
  font-size: 0.9rem;
  font-weight: 500;
  color: #000;
  transition: 0.2s;
}
#section_2 .today_wrap .today_slide .td_box p {
  font-size: 0.8rem;
  transition: 0.2s;
}

#section_3 {
  width: 100%;
  height: 490px;
  position: relative;
}
#section_3 h2 {
  width: 100%;
  font-size: 1.4rem;
  margin-bottom: 15px;
}
#section_3 > span {
  position: absolute;
  background: #fff;
  padding: 10px 17px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}
#section_3 > span:hover {
  color: #ccc;
}
#section_3 .now_prev {
  top: 45%;
  left: -2%;
  display: none;
}
#section_3 .now_next {
  top: 45%;
  right: -2%;
}
#section_3 .now_wrap {
  width: 100%;
  height: 360px;
  overflow: hidden;
}
#section_3 .now_wrap .now_slide {
  width: 100%;
  height: 100%;
  display: flex;
}
#section_3 .now_wrap .now_slide .now_box {
  width: 370px;
  height: 100%;
  margin-right: 28px;
  flex-shrink: 0;
}
#section_3 .now_wrap .now_slide .now_box .now_book {
  width: 100%;
  height: 115px;
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 6px;
}
#section_3 .now_wrap .now_slide .now_box .now_book:hover a:first-of-type {
  color: #ccc;
}
#section_3 .now_wrap .now_slide .now_box .now_book a {
  color: #333;
}
#section_3 .now_wrap .now_slide .now_box .now_book > a {
  border: 1px solid #eee;
  width: 80px;
  height: 100%;
  display: inline-block;
}
#section_3 .now_wrap .now_slide .now_box .now_book > a > img {
  width: 100%;
  height: 100%;
}
#section_3 .now_wrap .now_slide .now_box .now_book > p {
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  transition: 0.2s;
  align-items: center;
}
#section_3 .now_wrap .now_slide .now_box .now_book > div {
  width: calc(100% - 160px);
  height: 65px;
  display: flex;
  flex-wrap: wrap;
}
#section_3 .now_wrap .now_slide .now_box .now_book > div > a {
  width: 100%;
  transition: 0.2s;
}
#section_3 .now_wrap .now_slide .now_box .now_book > div > a:first-of-type {
  font-weight: 500;
  font-size: 0.9rem;
}
#section_3 .now_wrap .now_slide .now_box .now_book > div > a:nth-of-type(2) {
  font-size: 0.8rem;
}
#section_3 .now_wrap .now_slide .now_box .now_book > div > p {
  font-size: 0.8rem;
  color: #777;
}
#section_3 .now_wrap .now_slide .now_box .now_book > div > p span {
  color: red;
  margin-right: 2px;
}
#section_3 .now_wrap .now_slide .now_box .now_book > div > p span i {
  font-size: 0.7rem;
}

#section4 {
  width: 100%;
  height: 355px;
}
#section4 h2 {
  width: 100%;
  font-size: 1.4rem;
  margin-bottom: 15px;
}
#section4 .pick_wrap {
  width: 100%;
  height: 225px;
  display: flex;
  justify-content: space-between;
}
#section4 .pick_wrap .pick_box {
  width: 33%;
  height: 100%;
}
#section4 .pick_wrap .pick_box .pick_book {
  width: 100%;
  height: 140px;
  position: relative;
  margin-bottom: 10px;
}
#section4 .pick_wrap .pick_box .pick_book .pick_clbox {
  width: 100%;
  height: 100px;
  background: #a7e9ee;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}
#section4 .pick_wrap .pick_box .pick_book .clbox2 {
  background: #db6e89;
}
#section4 .pick_wrap .pick_box .pick_book .clbox3 {
  background: #362a6d;
}
#section4 .pick_wrap .pick_box .pick_book a {
  width: 102px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 36%;
  cursor: pointer;
}
#section4 .pick_wrap .pick_box .pick_book a > img {
  width: 100%;
  height: 100%;
}
#section4 .pick_wrap .pick_box h4 {
  text-align: center;
  font-weight: 600;
}
#section4 .pick_wrap .pick_box p {
  text-align: center;
  font-size: 0.85rem;
  font-weight: 500;
  color: #666;
}

#section5 {
  width: 100%;
  height: 525px;
  position: relative;
}
#section5 > span {
  position: absolute;
  background: #fff;
  padding: 10px 17px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}
#section5 > span:hover {
  color: #ccc;
}
#section5 .s5_prev {
  top: 45%;
  left: -2%;
  display: none;
}
#section5 .s5_next {
  top: 45%;
  right: -2%;
}
#section5 .s5_txtwrap {
  width: 100%;
  height: 30px;
  display: flex;
  margin-bottom: 40px;
}
#section5 .s5_txtwrap .s5_chtxt {
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
#section5 .s5_txtwrap .s5_chtxt h2 {
  font-size: 1.7rem;
  transition: 0.2s;
}
#section5 .s5_txtwrap .s5_chtxt h2:hover {
  color: #aaa;
}
#section5 .s5_txtwrap .s5_chtxt p {
  color: #ccc;
  font-size: 0.9rem;
}
#section5 .s5_txtwrap .s5_category {
  width: 280px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  cursor: pointer;
}
#section5 .s5_txtwrap .s5_category li {
  font-size: 0.9rem;
  transition: 0.2s;
}
#section5 .s5_txtwrap .s5_category li:hover {
  color: #ccc;
}
#section5 .best_box {
  width: 100%;
  height: 425px;
  opacity: 1;
  transition: 1s;
}
#section5 .best_box .all_wrap {
  width: 100%;
  height: 0px;
  overflow: hidden;
  opacity: 1;
  transition: 1s;
}
#section5 .best_box .kr_wrap {
  width: 100%;
  height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: 1s;
}
#section5 .best_box .foreign_wrap {
  width: 100%;
  height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: 1s;
}
#section5 .best_box .eBook_wrap {
  width: 100%;
  height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: 1s;
}
#section5 .new_box {
  width: 100%;
  height: 425px;
  opacity: 0;
  transition: 1s;
}
#section5 .new_box .new_all {
  width: 100%;
  height: 0px;
  overflow: hidden;
  opacity: 1;
  transition: 1s;
}
#section5 .new_box .new_kr {
  width: 100%;
  height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: 1s;
}
#section5 .new_box .new_foreign {
  width: 100%;
  height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: 1s;
}
#section5 .new_box .new_eBook {
  width: 100%;
  height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: 1s;
}
#section5 .s5_slide {
  width: 100%;
  height: 100%;
  display: flex;
}
#section5 .s5_slide .s5_box {
  width: 18%;
  height: 100%;
  margin-right: 29px;
  flex-shrink: 0;
  cursor: pointer;
}
#section5 .s5_slide .s5_box:hover h4 {
  color: #ccc;
}
#section5 .s5_slide .s5_box p:first-of-type {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  color: #ddd;
}
#section5 .s5_slide .s5_box p:first-of-type > span {
  color: #fff;
  background: #555;
  padding: 1px 7px 2px;
  border-radius: 5px 0px 5px 0px;
}
#section5 .s5_slide .s5_box a {
  width: 100%;
  height: 305px;
  display: inline-block;
  border: 1px solid #eee;
  margin-bottom: 10px;
}
#section5 .s5_slide .s5_box a > img {
  width: 100%;
  height: 100%;
}
#section5 .s5_slide .s5_box p:last-of-type {
  font-size: 0.8rem;
  transition: 0.2s;
}
#section5 .s5_slide .s5_box h4 {
  font-weight: 500;
  color: #000;
  font-size: 0.9rem;
  transition: 0.2s;
}

#section6 {
  width: 100%;
  height: 540px;
}
#section6 h2 {
  width: 100%;
  font-size: 1.4rem;
  margin-bottom: 15px;
}
#section6 .s6_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#section6 .s6_wrap .s6_box {
  width: 19.5%;
  height: 435px;
  border-radius: 7px;
  overflow: hidden;
  cursor: pointer;
  color: #fff;
  text-align: center;
  position: relative;
  font-family: "Grandiflora One", serif;
}
#section6 .s6_wrap .s6_box:first-child {
  background-image: url("../img/main/only1.webp");
  background-position: center;
  background-size: 100%;
}
#section6 .s6_wrap .s6_box:nth-child(2) {
  background-image: url("../img/main/only2.webp");
  background-position: center;
  background-size: 100%;
}
#section6 .s6_wrap .s6_box:nth-child(3) {
  background-image: url("../img/main/only3.webp");
  background-position: center;
  background-size: 100%;
}
#section6 .s6_wrap .s6_box:nth-child(4) {
  background-image: url("../img/main/only4.webp");
  background-position: center;
  background-size: 100%;
}
#section6 .s6_wrap .s6_box:last-child {
  background-image: url("../img/main/only5.webp");
  background-position: center;
  background-size: 100%;
}
#section6 .s6_wrap .s6_box h1 {
  width: 100%;
  position: absolute;
  bottom: 17%;
  left: 0;
  font-size: 1.7em;
}
#section6 .s6_wrap .s6_box h4 {
  width: 100%;
  position: absolute;
  bottom: 10%;
  left: 0;
  font-size: 0.9em;
}
#section6 .s6_wrap .s6_box::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  height: 0;
  background: #fff;
}

#section7 {
  width: 100%;
  height: 440px;
  position: relative;
}
#section7 .s7_txt {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#section7 .s7_txt h2 {
  width: 30%;
  font-size: 1.4rem;
  margin-bottom: 15px;
}
#section7 .s7_txt > p {
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.5s;
}
#section7 .s7_txt > p:hover {
  color: #ccc;
}
#section7 .art_wrap {
  width: 100%;
  height: 355px;
  overflow: hidden;
}
#section7 .art_wrap .art_slide {
  width: 100%;
  height: 100%;
  display: flex;
}
#section7 .art_wrap .art_slide .art_box {
  width: 16%;
  height: 100%;
  margin-right: 9px;
  flex-shrink: 0;
  cursor: pointer;
}
#section7 .art_wrap .art_slide .art_box:hover h4 {
  color: #ccc;
}
#section7 .art_wrap .art_slide .art_box a {
  width: 100%;
  height: 260px;
  display: inline-block;
  border: 1px solid #eee;
}
#section7 .art_wrap .art_slide .art_box a > img {
  width: 100%;
  height: 100%;
}
#section7 .art_wrap .art_slide .art_box h4 {
  font-weight: 500;
  color: #000;
  font-size: 0.9rem;
  transition: 0.2s;
}
#section7 .art_wrap .art_slide .art_box p {
  font-size: 0.8rem;
  transition: 0.2s;
}

#section8 {
  width: 100%;
  height: 550px;
  margin-bottom: 40px;
  overflow: hidden;
  position: relative;
}
#section8 > span {
  border: 1px solid #fff;
  padding: 5px 12px;
  border-radius: 20px;
  cursor: pointer;
  position: absolute;
  top: 45%;
  transition: 0.2s;
}
#section8 > span:hover {
  border: 1px solid #aaa;
}
#section8 > span:hover i {
  color: #aaa;
}
#section8 > span i {
  color: #fff;
  transition: 0.2s;
}
#section8 .s8_prev {
  left: 19.3%;
}
#section8 .s8_next {
  left: 22%;
}
#section8 .s8_wrap {
  width: 100%;
  height: 100%;
  display: flex;
}
#section8 .s8_wrap .s8_back {
  width: 100%;
  height: 75%;
  position: relative;
  flex-shrink: 0;
  background-image: url("../img/main/vid_banner_3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
#section8 .s8_wrap .s8_back .back_box {
  width: 100%;
  height: 100%;
  padding: 70px 0;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
#section8 .s8_wrap .s8_back .back_box .s8_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#section8 .s8_wrap .s8_back .back_box .s8_box > img {
  width: 13%;
}
#section8 .s8_wrap .s8_back .back_box .s8_box h5 {
  cursor: pointer;
  transition: 0.2s;
}
#section8 .s8_wrap .s8_back .back_box .s8_box h5:hover {
  color: #ccc;
}
#section8 .s8_wrap .s8_back .back_box h2 {
  margin-top: 30px;
}
#section8 .s8_wrap .s8_back .back_box p {
  font-size: 0.9rem;
  margin: 10px 0 30px;
}
#section8 .s8_wrap .s8_back .back_box p span {
  color: #bbb;
}
#section8 .s8_wrap .s8_back .front_box {
  cursor: pointer;
  position: absolute;
  bottom: -33%;
  left: 41%;
  width: 130px;
  height: 255px;
}
#section8 .s8_wrap .s8_back .front_box a {
  width: 95%;
  height: 65%;
  display: inline-block;
}
#section8 .s8_wrap .s8_back .front_box a > img {
  width: 100%;
  height: 100%;
}
#section8 .s8_wrap .s8_back .front_box p:first-of-type {
  font-size: 0.9rem;
  font-weight: 500;
}
#section8 .s8_wrap .s8_back .front_box p:last-of-type {
  font-size: 0.8rem;
  margin-top: 5px;
}
#section8 .s8_wrap .s8_back > img {
  position: absolute;
  bottom: -33%;
  right: 20%;
  width: 30%;
  border-radius: 20px;
}
#section8 .s8_wrap .s8_back .video_cover {
  width: 570px;
  height: 322px;
  background: rgba(0, 0, 0, 0.3);
  transition: 0.2s;
  position: absolute;
  bottom: -33%;
  right: 20%;
  width: 30%;
  border-radius: 20px;
}
#section8 .s8_wrap .s8_back .video_cover:hover {
  background: rgba(0, 0, 0, 0.5);
}
#section8 .s8_wrap .s8_back .video_cover:hover span {
  color: #ccc;
}
#section8 .s8_wrap .s8_back .video_cover > span {
  position: absolute;
  bottom: 40%;
  right: 45%;
  color: #fff;
  padding: 11px 15px;
  border: 1px solid #fff;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.5s;
}
#section8 .s8_wrap .s8_2 {
  background-image: url("../img/main/vid_banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
#section8 .s8_wrap .s8_3 {
  background-image: url("../img/main/vid_banner_2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}