@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #777;
}

.container {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
}

#wrap {
  width: 100%;
  height: auto;
  font-family: "Noto Sans KR", sans-serif;
}

.go_top {
  position: fixed;
  bottom: 5%;
  right: 5%;
  text-align: center;
  border: 1px solid #999;
  color: #999;
  padding: 3px 7px;
  border-radius: 20px;
  transition: 0.2s;
}
.go_top:hover {
  padding: 5px 10px;
  border-radius: 25px;
}
.go_top:hover p {
  color: #000;
  font-size: 0.8rem;
}
.go_top P {
  font-size: 0.7rem;
}
.go_top P:first-of-type i {
  font-size: 0.1rem;
}

header {
  width: 100%;
  border-bottom: 1px solid #eee;
}
header nav {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .left_ul {
  display: flex;
}
header nav .left_ul i {
  font-size: 0.7rem;
  margin-left: 2px;
  color: #666;
}
header nav .right_ul {
  display: flex;
}
header nav .grcircle {
  color: #ccc;
}
header nav a {
  font-weight: 500;
  font-size: 0.9rem;
}
header nav a:hover {
  color: #ccc;
}

#menu {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#menu .iconbox {
  display: flex;
}
#menu .iconbox input {
  width: 260px;
  height: 40px;
  background: #eee;
  border: none;
  border-radius: 10px;
  margin-right: 30px;
  background-image: url(../img/main/search.png);
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 8px;
}
#menu .iconbox input:focus {
  outline: none;
}
#menu .iconbox .icon_img {
  width: 180px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
#menu .iconbox .icon_img a {
  width: 27px;
}
#menu .iconbox .icon_img a img {
  width: 100%;
}
#menu .iconbox .icon_img a:nth-of-type(3) {
  width: 30px;
}
#menu .iconbox .icon_img a:nth-of-type(3) {
  width: 25px;
}
#menu .iconbox .icon_img a:last-of-type {
  width: 26px;
}

footer {
  width: 100%;
  height: auto;
  padding: 50px 0;
  border-top: 1px solid #eee;
  color: #777;
}
footer #footer_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer #footer_box .left_ftbox {
  width: 95px;
}
footer #footer_box .left_ftbox a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  font-size: 0.8rem;
  font-weight: 600;
}
footer #footer_box .left_ftbox a:hover {
  color: #ccc;
}
footer #footer_box .left_ftbox a span {
  margin-left: 5px;
}
footer #footer_box table {
  text-align: left;
  font-size: 0.8rem;
}
footer #footer_box table th {
  width: 200px;
}
footer #footer_box table th, footer #footer_box table td {
  height: 30px;
}
footer #footer_box table td {
  font-weight: 400;
}
footer #footer_box table td .hire::after {
  content: "N";
  background: #1e9eff;
  color: #fff;
  font-size: 0.1rem;
  padding: 1px 6px 2px 5px;
  border-radius: 20px;
  margin-left: 2px;
}
footer #footer_box table td:hover a {
  color: #ccc;
}
footer .sns_box a {
  border: 1px solid #ddd;
  padding: 15px 10px 5px;
  border-radius: 25px;
  margin-left: 10px;
}
footer .sns_box a:hover {
  background: rgb(245, 244, 244);
}
footer #footer_box2 {
  width: 50%;
  margin-top: 30px;
}
footer #footer_box2 h5 {
  font-weight: 600;
  font-size: 0.75rem;
  cursor: pointer;
  margin-bottom: 10px;
}
footer #footer_box2 h5:hover {
  color: #ccc;
}
footer #footer_box2 h5 i {
  font-size: 0.6rem;
  margin-left: 2px;
}
footer #footer_box2 p {
  font-size: 0.7rem;
  margin-right: 5px;
  font-weight: 400;
}
footer #footer_box2 .ft_hide {
  display: none;
  overflow: hidden;
}
footer #footer_box2 .ft_hide p {
  float: left;
  line-height: 20px;
}
footer #footer_box2 .line {
  color: #ddd;
}
footer #footer_box2 .ft_visible {
  display: flex;
}
footer #footer_box2 .ft_visible p {
  line-height: 20px;
}
footer #footer_box2 .ft_visible p:hover a {
  color: #aaa;
}
footer #footer_box2 .ft_visible p:nth-of-type(3) a {
  color: #333;
  font-weight: 500;
}
footer #footer_box2 > p:last-of-type {
  margin-top: 10px;
}

.preview {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #444;
  display: none;
}
.preview .pre_book {
  width: 50%;
  height: 93%;
  background: #fff;
  display: flex;
  font-family: "IBM Plex Sans KR", sans-serif;
  position: absolute;
  top: 4%;
  left: 25%;
}
.preview .pre_book .pre_left {
  width: calc(100% - 260px);
  height: 100%;
  position: relative;
  box-shadow: 10px 0px 5px rgba(0, 0, 0, 0.2);
}
.preview .pre_book .pre_left .pre_title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  border-bottom: 1px solid #ddd;
}
.preview .pre_book .pre_left .pre_title > h4 {
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}
.preview .pre_book .pre_left .pre_title > h4 i {
  color: #aaa;
}
.preview .pre_book .pre_left .pre_title > h4:hover, .preview .pre_book .pre_left .pre_title > h4:hover i {
  color: #1e9eff;
}
.preview .pre_book .pre_left .pre_title table {
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #777;
  height: 30px;
  cursor: pointer;
  border-spacing: 0;
}
.preview .pre_book .pre_left .pre_title table th:first-child {
  width: 45px;
  font-size: 0.9rem;
}
.preview .pre_book .pre_left .pre_title table th:nth-child(2) {
  font-size: 0.7rem;
  width: 45px;
  border-right: 1px solid #ccc;
}
.preview .pre_book .pre_left .pre_title table th:nth-child(2) i {
  font-size: 0.1rem;
  margin-left: 2px;
}
.preview .pre_book .pre_left .pre_title table th:nth-child(3) {
  font-size: 0.9rem;
  width: 45px;
  border-right: 1px solid #ccc;
}
.preview .pre_book .pre_left .pre_title table .ch_size {
  background: #eee;
  color: #ccc;
}
.preview .pre_book .pre_left .pre_txt {
  width: 80%;
  height: 90%;
  position: absolute;
  top: 7%;
  left: 10%;
  overflow-y: scroll;
}
.preview .pre_book .pre_left .pre_txt > div:first-of-type, .preview .pre_book .pre_left .pre_txt > div:nth-of-type(2) {
  width: 550px;
  height: 800px;
}
.preview .pre_book .pre_left .pre_txt > div:first-of-type > img, .preview .pre_book .pre_left .pre_txt > div:nth-of-type(2) > img {
  width: 100%;
  height: 100%;
}
.preview .pre_book .pre_left .pre_txt > div:nth-of-type(3) {
  width: 550px;
  height: 800px;
  padding: 30px 0 0 30px;
}
.preview .pre_book .pre_left .pre_txt > div:nth-of-type(3) > div {
  font-family: "RidiBatang";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.preview .pre_book .pre_left .pre_txt > div:nth-of-type(3) > div > img:last-of-type {
  margin-bottom: 40px;
}
.preview .pre_book .pre_left .pre_txt > div:nth-of-type(3) > div > img:first-of-type {
  margin-bottom: 10px;
}
.preview .pre_book .pre_left .pre_txt > div:nth-of-type(3) > div p {
  width: 100%;
  text-align: center;
  line-height: 30px;
}
.preview .pre_book .pre_left .pre_txt > div:nth-of-type(3) > div p:first-of-type {
  font-weight: 500;
  font-size: 1.1rem;
}
.preview .pre_book .pre_left .pre_txt > div:nth-of-type(3) > div p:not(:first-of-type) {
  text-align: left;
}
.preview .pre_book .pre_left .pre_txt > div:nth-of-type(3) > div h5 {
  width: 100%;
  font-weight: 600;
  line-height: 30px;
}
.preview .pre_book .pre_left .pre_txt > div:nth-of-type(3) > div h5:first-of-type {
  margin-top: 20px;
}
.preview .pre_book .pre_left .pre_txt > div:nth-of-type(3) > div h5:last-of-type {
  margin-bottom: 20px;
}
.preview .pre_book .pre_left .pre_txt #prologue {
  width: 550px;
  padding-top: 50px;
}
.preview .pre_book .pre_left .pre_txt #prologue .list_title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.preview .pre_book .pre_left .pre_txt #prologue .list_title > p {
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 1.2rem;
  font-family: "RidiBatang";
}
.preview .pre_book .pre_left .pre_txt #prologue > p {
  margin-top: 50px;
  line-height: 30px;
  font-size: 0.95rem;
}
.preview .pre_book .pre_left .pre_txt #prologue > p small {
  padding: 30px;
  display: inline-block;
  width: 100%;
  font-family: "RidiBatang";
}
.preview .pre_book .pre_left .pre_txt #prologue > p small:nth-of-type(2) {
  text-align: center;
}
.preview .pre_book .pre_left .pre_txt #prologue > p small:nth-of-type(3) {
  text-align: center;
  border: 1px solid #333;
}
.preview .pre_book .pre_left .pre_txt #prologue > p small:nth-of-type(4) {
  border: 1px solid #333;
}
.preview .pre_book .pre_left .pre_txt .end_preview {
  width: 550px;
  height: 800px;
  padding-top: 100px;
  text-align: center;
}
.preview .pre_book .pre_left .pre_txt .end_preview > img {
  width: 10%;
}
.preview .pre_book .pre_left .pre_txt .end_preview h2 {
  width: 100%;
  color: #1e9eff;
  margin-bottom: 15px;
}
.preview .pre_book .pre_left .pre_txt .end_preview p {
  margin-bottom: 30px;
}
.preview .pre_book .pre_left .pre_txt .end_preview button {
  border: none;
  background: #1e9eff;
  color: #fff;
  width: 190px;
  height: 60px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.preview .pre_book .pre_left .pre_txt .scroll {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px 0;
  width: 160px;
  height: 140px;
  background: rgba(145, 195, 233, 0.7);
  text-align: center;
  border-radius: 10px;
}
.preview .pre_book .pre_left .pre_txt .scroll i {
  font-size: 2rem;
  color: #fff;
}
.preview .pre_book .pre_left .pre_txt .scroll p {
  color: #fff;
  font-size: 1.2rem;
}
.preview .pre_book .pre_left .pre_txt::-webkit-scrollbar {
  display: none;
}
.preview .pre_book .pre_right {
  background: #eee;
  width: 260px;
  height: 100%;
}
.preview .pre_book .pre_right h4 {
  font-weight: 500;
  line-height: 40px;
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
  color: #bbb;
  font-size: 0.9rem;
}
.preview .pre_book .pre_right h4:first-of-type {
  font-size: 1.1rem;
}
.preview .pre_book .pre_right > a {
  color: #333;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  width: 100%;
  line-height: 40px;
  display: inline-block;
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
  font-size: 0.9rem;
}
.preview .pre_book .pre_right > a:hover {
  background: #ddd;
}
.preview .pre_book .pre_right .ch_list {
  background: #ddd;
}

#full_box {
  width: 100%;
  height: auto;
  display: flex;
}
#full_box #left_box {
  width: calc(100% - 205px);
  border-right: 1px solid #eee;
  padding-right: 30px;
}
#full_box #left_box .book_title {
  width: 100%;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
#full_box #left_box .book_title .book_cover {
  width: 25%;
  height: 100%;
  transform-style: preserve-3d;
  perspective: 1000px;
}
#full_box #left_box .book_title .book_cover .turn_img {
  width: 235px;
  height: 350px;
  position: relative;
  transition: 0.5s;
  transform-style: preserve-3d;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
#full_box #left_box .book_title .book_cover .turn_img:hover {
  transform: rotateY(35deg);
}
#full_box #left_box .book_title .book_cover .turn_img::before {
  content: "";
  width: 30px;
  height: 100%;
  position: absolute;
  background-position: in;
  background-image: url(../img/sub/bookCover_side.jfif);
  background-size: cover;
  background-position: center;
  transform-origin: left;
  transform: rotateY(90deg);
}
#full_box #left_box .book_title .book_cover .turn_img::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../img/sub/bookCover_back.jfif);
  background-size: cover;
  background-position: center;
  transform-origin: center;
  transform: rotateY(180deg) translateZ(30px);
}
#full_box #left_box .book_title .book_cover .turn_img.rotate {
  transform: rotateY(180deg);
}
#full_box #left_box .book_title .book_cover .turn_img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#full_box #left_box .book_title .book_cover .turn_img img:hover {
  cursor: url(../img/sub/ico_flip.svg), pointer !important;
}
#full_box #left_box .book_title .book_cover button {
  background: transparent;
  border: 1px solid #1e9eff;
  color: #1e9eff;
  width: 130px;
  height: 40px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 0.9rem;
  font-family: "IBM Plex Sans KR", sans-serif;
  margin: 20px 0 0 50px;
  box-shadow: 0px 1px 1px #1e9eff;
  transition: 0.2s;
}
#full_box #left_box .book_title .book_cover button:hover {
  background: rgba(30, 158, 255, 0.1);
  cursor: pointer;
}
#full_box #left_box .book_title .book_price {
  width: 70%;
}
#full_box #left_box .book_title .book_price p:first-of-type {
  font-size: 0.75rem;
  margin-bottom: 5px;
}
#full_box #left_box .book_title .book_price h1 {
  font-weight: 500;
  margin-bottom: 5px;
}
#full_box #left_box .book_title .book_price p:nth-of-type(2) {
  font-size: 0.85rem;
  margin-bottom: 15px;
}
#full_box #left_box .book_title .book_price p:nth-of-type(3) {
  font-size: 0.7rem;
  margin-bottom: 15px;
}
#full_box #left_box .book_title .book_price p:nth-of-type(3) span {
  color: orangered;
  font-size: 0.8rem;
}
#full_box #left_box .book_title .book_price h5 {
  font-weight: 500;
  color: #666;
}
#full_box #left_box .book_title .book_price h5 span {
  font-weight: 100;
  color: #999;
}
#full_box #left_box .book_title .book_price > div:first-of-type {
  border-top: 1px solid rgb(228, 227, 227);
  border-bottom: 1px solid rgb(228, 227, 227);
  font-size: 0.9rem;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
#full_box #left_box .book_title .book_price > div:first-of-type:hover {
  cursor: pointer;
}
#full_box #left_box .book_title .book_price > div:first-of-type:hover span {
  color: #1e9eff;
}
#full_box #left_box .book_title .book_price > div:first-of-type span {
  line-height: 40px;
  font-weight: 500;
  color: #555;
}
#full_box #left_box .book_title .book_price > div:first-of-type span:before {
  content: "셀렉트";
  color: #fff;
  background-color: #22b8cf;
  font-size: 0.7rem;
  margin-right: 5px;
  padding: 2px 2px;
  border-radius: 2px;
}
#full_box #left_box .book_title .book_price > div:first-of-type i {
  font-size: 0.3rem;
  color: #bbb;
}
#full_box #left_box .book_title .book_price table {
  width: 100%;
  font-size: 0.8rem;
  color: #777;
  margin-bottom: 20px;
  border-collapse: collapse;
  border-top: 1px solid rgb(228, 227, 227);
  border-bottom: 1px solid rgb(228, 227, 227);
}
#full_box #left_box .book_title .book_price table .own {
  width: 220px;
  background-color: rgb(246, 249, 252);
  height: 95px;
  border-right: 1px solid rgb(228, 227, 227);
  font-weight: 500;
}
#full_box #left_box .book_title .book_price table td {
  padding-left: 10px;
}
#full_box #left_box .book_title .book_price table .price {
  font-weight: 600;
  font-size: 0.75rem;
  text-align: right;
}
#full_box #left_box .book_title .book_price > div:last-of-type {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#full_box #left_box .book_title .book_price > div:last-of-type i {
  color: #777;
  font-size: 1.2rem;
  border: 1px solid #ddd;
  padding: 13px;
  transition: 0.2s;
  border-radius: 5px;
  margin-right: 5px;
}
#full_box #left_box .book_title .book_price > div:last-of-type i:hover {
  background: rgba(206, 205, 205, 0.2);
  cursor: pointer;
}
#full_box #left_box .book_title .book_price > div:last-of-type button {
  width: 110px;
  border-radius: 5px;
  border: none;
  background: #1e9eff;
  color: #fff;
  font-weight: 600;
  font-size: 0.9rem;
  transition: 0.2s;
  font-family: "IBM Plex Sans KR", sans-serif;
}
#full_box #left_box .book_title .book_price > div:last-of-type button:hover {
  background: #1e87ff;
  cursor: pointer;
}
#full_box #left_box .infor {
  width: 100%;
  height: 130px;
  border: 3px solid #eee;
  margin-bottom: 40px;
  padding: 20px 150px 20px 25px;
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  color: #777;
}
#full_box #left_box .infor table:first-of-type th {
  width: 70px;
  text-align: left;
  font-weight: 500;
  color: #555;
}
#full_box #left_box .infor table:last-of-type {
  height: 40px;
}
#full_box #left_box .infor table:last-of-type th {
  width: 70px;
  text-align: left;
  font-weight: 500;
  color: #555;
}
#full_box #left_box .line {
  height: 2px;
  width: 100%;
  background: rgb(27, 55, 116);
  margin-bottom: 10px;
}
#full_box #left_box .introduce {
  width: 100%;
  margin-bottom: 60px;
  color: rgb(27, 55, 116);
}
#full_box #left_box .introduce p:first-of-type {
  font-weight: 100;
}
#full_box #left_box .introduce h3 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 40px;
}
#full_box #left_box .introduce p:nth-of-type(3) {
  font-size: 0.8rem;
  color: #333;
  font-family: "Bricolage Grotesque", sans-serif;
  line-height: 20px;
}
#full_box #left_box .series {
  width: 100%;
  margin-bottom: 60px;
}
#full_box #left_box .series h3 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 40px;
  color: rgb(27, 55, 116);
}
#full_box #left_box .series .line:not(:first-of-type) {
  opacity: 0.2;
  height: 1px;
}
#full_box #left_box .series .series_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#full_box #left_box .series .series_box i {
  color: #ccc;
  font-size: 0.8rem;
}
#full_box #left_box .series .series_box .series_book {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  cursor: pointer;
}
#full_box #left_box .series .series_box .series_book a {
  display: inline-block;
  width: 50px;
  height: 70px;
  overflow: hidden;
  border-radius: 3px;
}
#full_box #left_box .series .series_box .series_book a > img {
  width: 100%;
  height: 100%;
}
#full_box #left_box .series .series_box .series_book h5 {
  margin-left: 15px;
  font-weight: 500;
  font-size: 0.8rem;
}
#full_box #left_box .book_review {
  width: 100%;
  margin-bottom: 60px;
}
#full_box #left_box .book_review h3 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 40px;
  color: rgb(27, 55, 116);
}
#full_box #left_box .book_review p {
  font-size: 0.8rem;
  color: #333;
  font-family: "Bricolage Grotesque", sans-serif;
  line-height: 20px;
}
#full_box #left_box .book_review .hide_txt {
  cursor: pointer;
  color: #1e9eff;
  font-size: 0.85rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#full_box #left_box .book_review .hide_txt i {
  color: #fff;
  margin-left: 3px;
  background: #1e9eff;
  padding: 4px 5px 3px 4px;
  border-radius: 10px;
  font-size: 0.1rem;
}
#full_box #left_box .book_review .visible_box {
  display: block;
}
#full_box #left_box .book_review .hidden_box {
  display: none;
}
#full_box #left_box .profile {
  width: 100%;
  margin-bottom: 60px;
}
#full_box #left_box .profile h3:first-of-type {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 40px;
  color: rgb(27, 55, 116);
}
#full_box #left_box .profile h3:last-of-type {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 60px;
}
#full_box #left_box .profile .line:not(:first-of-type) {
  background: #eee;
  height: 1px;
  margin: 20px 0;
}
#full_box #left_box .profile button {
  width: 170px;
  height: 30px;
  border-radius: 5px;
  background: transparent;
  color: #1e9eff;
  border: 1px solid #1e9eff;
  font-weight: 700;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 1px #1e9eff;
  transition: 0.2s;
  cursor: pointer;
  font-family: "IBM Plex Sans KR", sans-serif;
  margin-bottom: 10px;
}
#full_box #left_box .profile button i {
  font-weight: 700;
  margin-right: 5px;
}
#full_box #left_box .profile button:hover {
  background: rgba(30, 158, 255, 0.1);
}
#full_box #left_box .profile button span {
  font-size: 1.5rem;
}
#full_box #left_box .profile table {
  font-size: 0.85rem;
  margin-bottom: 10px;
}
#full_box #left_box .profile table th {
  font-weight: 100;
  width: 35px;
  color: #999;
  text-align: left;
}
#full_box #left_box .profile table td {
  font-weight: 100;
}
#full_box #left_box .profile > div:first-of-type {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
#full_box #left_box .profile > div:first-of-type p {
  font-size: 0.8rem;
  color: #999;
}
#full_box #left_box .profile > div:first-of-type p span {
  margin-left: 5px;
  border: 1px solid #ccc;
  font-size: 0.7rem;
  padding: 2px 8px;
  border-radius: 3px;
  font-weight: 600;
  box-shadow: 0px 1px 1px #ccc;
  cursor: pointer;
  transition: 0.2s;
}
#full_box #left_box .profile > div:first-of-type p span:hover {
  background: #f0f0f0;
}
#full_box #left_box .profile > div:first-of-type p span i {
  margin-right: 3px;
}
#full_box #left_box .profile > div:nth-of-type(2) {
  font-size: 0.85rem;
  font-weight: 100;
}
#full_box #left_box .profile > div:nth-of-type(2) .visible_box {
  display: block;
  font-size: 0.8rem;
  color: #333;
  font-family: "Bricolage Grotesque", sans-serif;
  line-height: 20px;
}
#full_box #left_box .profile > div:nth-of-type(2) .visible_box span {
  font-size: 0.75rem;
  color: #666;
}
#full_box #left_box .profile h4 {
  font-weight: 500;
  margin-bottom: 10px;
}
#full_box #left_box .profile > div:last-of-type {
  width: 300px;
  display: flex;
}
#full_box #left_box .profile > div:last-of-type .profile_book {
  width: 100%;
  height: 100%;
}
#full_box #left_box .profile > div:last-of-type .profile_book a {
  width: 90px;
  height: 135px;
  display: inline-block;
}
#full_box #left_box .profile > div:last-of-type .profile_book a > img {
  width: 100%;
  height: 100%;
}
#full_box #left_box .profile > div:last-of-type .profile_book p:first-of-type {
  font-size: 0.85rem;
  font-weight: 500;
}
#full_box #left_box .profile > div:last-of-type .profile_book p:nth-of-type(2) {
  font-size: 0.6rem;
  margin-bottom: 15px;
  color: #777;
}
#full_box #left_box .profile > div:last-of-type .profile_book p:nth-of-type(2) span {
  color: orangered;
  font-size: 0.1rem;
}
#full_box #left_box .introduce_writer {
  width: 100%;
  margin-bottom: 60px;
}
#full_box #left_box .introduce_writer h3 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 40px;
  color: rgb(27, 55, 116);
}
#full_box #left_box .introduce_writer p:last-of-type {
  font-size: 0.8rem;
  color: #333;
  font-family: "Bricolage Grotesque", sans-serif;
  line-height: 20px;
}
#full_box #left_box .list {
  width: 100%;
  margin-bottom: 60px;
}
#full_box #left_box .list h3 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 40px;
  color: rgb(27, 55, 116);
}
#full_box #left_box .list > div {
  width: 100%;
}
#full_box #left_box .list > div > p {
  font-size: 0.8rem;
  color: #333;
  font-family: "Bricolage Grotesque", sans-serif;
  line-height: 20px;
}
#full_box #left_box .list > div .visible_box {
  display: block;
}
#full_box #left_box .list > div .hidden_box {
  display: none;
}
#full_box #left_box .list .hide_txt {
  cursor: pointer;
  color: #1e9eff;
  font-size: 0.85rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#full_box #left_box .list .hide_txt i {
  color: #fff;
  margin-left: 3px;
  background: #1e9eff;
  padding: 4px 5px 3px 4px;
  border-radius: 10px;
  font-size: 0.1rem;
}
#full_box #left_box .review {
  width: 100%;
  margin-bottom: 80px;
}
#full_box #left_box .review > h3 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 40px;
  color: rgb(27, 55, 116);
}
#full_box #left_box .review .write_review {
  width: 100%;
  height: 305px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
#full_box #left_box .review .write_review .rating {
  width: 120px;
  text-align: center;
  padding-top: 15px;
}
#full_box #left_box .review .write_review .rating p {
  font-size: 0.75rem;
  font-weight: 500;
  color: lightslategrey;
}
#full_box #left_box .review .write_review .rating p:nth-of-type(2) {
  margin-bottom: 7px;
}
#full_box #left_box .review .write_review .rating p:nth-of-type(2) i {
  color: orangered;
}
#full_box #left_box .review .write_review .rating > div {
  width: 100%;
  margin-bottom: 3px;
  font-size: 0.75rem;
  font-weight: 500;
  color: #8594a2;
}
#full_box #left_box .review .write_review .rating > div i {
  font-size: 0.1rem;
}
#full_box #left_box .review .write_review .rating > div > div {
  display: inline-block;
  margin-left: 5px;
  width: 75%;
  box-shadow: inset 1px 1px 1px #adbfd1;
  background: #eee;
  height: 9px;
}
#full_box #left_box .review .write_review .rating > div > div > p {
  width: 80%;
  height: 100%;
  background: #8594a2;
  box-shadow: inset 1px 1px 3px #bccbda;
}
#full_box #left_box .review .write_review .rating > div > div .bar2 {
  width: 20%;
}
#full_box #left_box .review .write_review .rating > div > div .bar3 {
  width: 8%;
}
#full_box #left_box .review .write_review .rating > div > div .bar4 {
  width: 0%;
}
#full_box #left_box .review .write_review .rating .line {
  background: #eee;
  height: 1px;
  margin-top: 10px;
}
#full_box #left_box .review .write_review .write {
  width: calc(100% - 140px);
  text-align: center;
}
#full_box #left_box .review .write_review .write h3 {
  color: #999;
  font-weight: 500;
  margin-bottom: 10px;
}
#full_box #left_box .review .write_review .write p {
  font-size: 2rem;
  color: #f7f8fa;
  font-weight: 100;
  margin-bottom: 20px;
}
#full_box #left_box .review .write_review .write p i {
  color: #e7e9eb;
  font-size: 2.5rem;
  transition: 0.2s;
  cursor: pointer;
}
#full_box #left_box .review .write_review .write textarea {
  margin-bottom: 10px;
}
#full_box #left_box .review .write_review .write > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#full_box #left_box .review .write_review .write > div > button {
  background: transparent;
  border: 1px solid #bdc6cf;
  color: #798692;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 5px 15px;
  border-radius: 5px;
  transition: 0.2s;
  box-shadow: 0px 1px 1px #bdc6cf;
}
#full_box #left_box .review .write_review .write > div > div label {
  font-size: 0.85rem;
  color: #535c66;
  font-weight: 500;
}
#full_box #left_box .review .write_review .write > div > div button {
  margin-left: 10px;
  border: none;
  background: #ccc;
  color: #fff;
  width: 95px;
  height: 30px;
  font-weight: 600;
  border-radius: 5px;
}
#full_box #left_box .review .review_category {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #798692;
}
#full_box #left_box .review .review_category .left_cate {
  display: flex;
  margin-bottom: 7px;
}
#full_box #left_box .review .review_category .left_cate h4 {
  font-weight: 500;
  transition: 0.2s;
  cursor: pointer;
}
#full_box #left_box .review .review_category .left_cate h4:hover {
  color: #414850;
}
#full_box #left_box .review .review_category .left_cate h4:first-of-type {
  color: #414850;
}
#full_box #left_box .review .review_category .left_cate h4:last-of-type {
  color: #798692;
  margin-left: 10px;
}
#full_box #left_box .review .review_category .left_cate h4:last-of-type small {
  color: #b3bbc2;
}
#full_box #left_box .review .review_category .right_cate {
  display: flex;
}
#full_box #left_box .review .review_category .right_cate h5 {
  font-weight: 500;
  margin-right: 5px;
  color: #798692;
  transition: 0.2s;
  cursor: pointer;
  font-size: 0.8rem;
}
#full_box #left_box .review .review_category .right_cate h5:hover {
  color: #414850;
}
#full_box #left_box .review .review_category .right_cate h5 span {
  color: #dee3e7;
}
#full_box #left_box .review .review_category .right_cate h5:first-of-type {
  color: #414850;
}
#full_box #left_box .review .review_category .line {
  background: #eee;
}
#full_box #left_box .review .review_category .line p {
  width: 63px;
  background: #414850;
  height: 100%;
}
#full_box #left_box .review .review_txtBox {
  width: 100%;
}
#full_box #left_box .review .review_txtBox .review_txt {
  width: 100%;
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  margin: 0px 0 20px;
}
#full_box #left_box .review .review_txtBox .review_txt .star {
  font-size: 0.7rem;
}
#full_box #left_box .review .review_txtBox .review_txt .star i {
  color: orangered;
  font-size: 0.1rem;
}
#full_box #left_box .review .review_txtBox .review_txt .star .gray {
  color: #ddd;
}
#full_box #left_box .review .review_txtBox .review_txt .star p {
  margin: 0px 0 5px;
}
#full_box #left_box .review .review_txtBox .review_txt .star p:nth-of-type(2) {
  color: #000;
}
#full_box #left_box .review .review_txtBox .review_txt .star p:nth-of-type(2)::after {
  content: "구매자";
  background: #8594a2;
  color: #fff;
  margin-left: 5px;
  padding: 2px;
  border-radius: 3px;
  font-size: 0.6rem;
}
#full_box #left_box .review .review_txtBox .review_txt .star p:nth-of-type(3), #full_box #left_box .review .review_txtBox .review_txt .star p p:last-of-type {
  color: #646e79;
  font-weight: 500;
}
#full_box #left_box .review .review_txtBox .review_txt .star p:last-of-type {
  font-size: 0.8rem;
  cursor: pointer;
}
#full_box #left_box .review .review_txtBox .review_txt .user_review {
  padding-left: 40px;
  width: calc(100% - 75px);
}
#full_box #left_box .review .review_txtBox .review_txt .user_review p {
  font-size: 0.85rem;
}
#full_box #left_box .review .review_txtBox .review_txt .user_review > div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
#full_box #left_box .review .review_txtBox .review_txt .user_review > div button {
  margin-left: 10px;
  background: transparent;
  border: 1px solid #ccc;
  font-size: 0.75rem;
  color: #7f8b97;
  font-weight: 600;
  border-radius: 5px;
  padding: 4px 10px;
  cursor: pointer;
  transition: 0.2s;
}
#full_box #left_box .review .review_txtBox .review_txt .user_review > div button:hover {
  background: #eee;
}
#full_box #left_box .review .review_txtBox .visible_box .review_txt:nth-of-type(4) .user_review > p:first-of-type, #full_box #left_box .review .review_txtBox .hidden_box .review_txt:nth-of-type(9) .user_review > p:first-of-type {
  width: 100%;
  height: 90px;
  cursor: pointer;
  background: #f5f6f7;
  padding: 25px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
#full_box #left_box .review .review_txtBox .visible_box .review_txt:nth-of-type(4) .user_review > p:first-of-type i:first-of-type, #full_box #left_box .review .review_txtBox .hidden_box .review_txt:nth-of-type(9) .user_review > p:first-of-type i:first-of-type {
  width: 100%;
  text-align: center;
  color: #8594a2;
  font-size: 0.8rem;
}
#full_box #left_box .review .review_txtBox .visible_box .review_txt:nth-of-type(4) .user_review > p:first-of-type small, #full_box #left_box .review .review_txtBox .hidden_box .review_txt:nth-of-type(9) .user_review > p:first-of-type small {
  color: #646e79;
  font-weight: 500;
  font-size: 0.9rem;
}
#full_box #left_box .review .review_txtBox .visible_box .review_txt:nth-of-type(4) .user_review > p:first-of-type i:not(:first-of-type), #full_box #left_box .review .review_txtBox .hidden_box .review_txt:nth-of-type(9) .user_review > p:first-of-type i:not(:first-of-type) {
  font-size: 0.1rem;
  color: #646e79;
}
#full_box #left_box .review .review_txtBox .hidden_box {
  display: none;
}
#full_box #left_box .review > .hide_txt {
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  justify-content: center;
  border: 2px solid #ddd;
  padding: 10px 0;
  border-radius: 3px;
  transition: 0.2s;
  color: #999;
  font-size: 0.8rem;
  font-weight: 600;
}
#full_box #left_box .review > .hide_txt:hover {
  background: #eee;
}
#full_box #left_box .review > .hide_txt span {
  color: #1e9eff;
}
#full_box #left_box .review > .hide_txt i {
  background: transparent;
  color: #1e9eff;
  font-size: 0.8rem;
  margin-left: 0;
}
#full_box #left_box .review .DisplayCriteria {
  width: 100%;
}
#full_box #left_box .review .DisplayCriteria > .hide_txt {
  cursor: pointer;
  border: none;
  font-size: 0.8rem;
  color: #333;
  font-weight: 500;
}
#full_box #left_box .review .DisplayCriteria > .hide_txt i {
  color: #333;
  font-size: 0.1rem;
  background: transparent;
}
#full_box #left_box .review .DisplayCriteria > .hide_txt:hover, #full_box #left_box .review .DisplayCriteria > .hide_txt:hover i {
  background: transparent;
  color: #aaa;
}
#full_box #left_box .review .DisplayCriteria > .hidden_box {
  padding: 20px;
  background: #f5f6f7;
  display: none;
  margin-top: 10px;
}
#full_box #left_box .review .DisplayCriteria > .hidden_box h5 {
  font-weight: 500;
}
#full_box #left_box .review .DisplayCriteria > .hidden_box h5:not(:first-of-type) {
  color: #8594a2;
}
#full_box #left_box .review .DisplayCriteria > .hidden_box h5:nth-of-type(3), #full_box #left_box .review .DisplayCriteria > .hidden_box h5:nth-of-type(5), #full_box #left_box .review .DisplayCriteria > .hidden_box h5:nth-of-type(7), #full_box #left_box .review .DisplayCriteria > .hidden_box h5:nth-of-type(9) {
  font-weight: 100;
}
#full_box #left_box .purchased_together {
  width: 100%;
  margin-bottom: 80px;
}
#full_box #left_box .purchased_together > h3 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 40px;
  color: rgb(27, 55, 116);
}
#full_box #left_box .purchased_together > div {
  width: 100%;
  height: 440px;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
#full_box #left_box .purchased_together > div .pur_book {
  width: 17%;
  height: 185px;
  cursor: pointer;
  text-align: center;
}
#full_box #left_box .purchased_together > div .pur_book a {
  display: inline-block;
  width: 90px;
  height: 130px;
}
#full_box #left_box .purchased_together > div .pur_book a > img {
  width: 100%;
  height: 100%;
}
#full_box #left_box .purchased_together > div .pur_book h5 {
  font-weight: 500;
}
#full_box #left_box .purchased_together > div .pur_book p {
  font-size: 0.75rem;
}
#full_box aside {
  width: 210px;
}
#full_box aside img {
  width: 100%;
  cursor: pointer;
  margin-bottom: 20px;
}
#full_box aside .lank_box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#full_box aside .lank_box h4 {
  width: 80%;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 0.9rem;
}
#full_box aside .lank_box h4 i {
  font-size: 0.7rem;
}
#full_box aside .lank_box table {
  width: 80%;
  font-size: 0.9rem;
  cursor: pointer;
}
#full_box aside .lank_box table th {
  text-align: left;
  padding-right: 10px;
  font-style: italic;
  font-weight: 500;
  color: rgb(211, 4, 4);
}
#full_box aside .lank_box table td {
  color: #777;
}